@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-4">
        <h2>Medicos  </h2>
        <p>
            Gestion de Medicos
        </p>
        <p><a class="btn btn-default" href="http://localhost:57776/Medicos/">Ver Lista de Medicos &raquo;</a></p>
        <p><a class="btn btn-default" href="http://localhost:57776/Medicos/Create">Agregar Nuevo Medico &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Pacientes </h2>
        <p>
            Gestion de Pacientes
        </p>
        <p><a class="btn btn-default" href="http://localhost:57776/Pacientes">Ver Lista de Citas &raquo;</a></p>
        <p><a class="btn btn-default" href="http://localhost:57776/Pacientes/Create">Agregar Nuevo Pacientes &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Citas</h2>
        <p>Gestion de Citas</p>
        <p><a class="btn btn-default" href="http://localhost:57776/Citas/">Ver Lista de Citas &raquo;</a></p>
        <p><a class="btn btn-default" href="http://localhost:57776/Citas/Create">Crear Nueva Citas &raquo;</a></p>
    </div>
</div>